html,
body {
	margin: 0;
	padding: 0;
}

/* Fonts */

h2 {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 800;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -0.03em;
	margin: 0.5rem 0;
	text-wrap: balance;
}

h3 {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	letter-spacing: -0.02em;
	margin: 0.5rem 0 0.25rem 0;
}
h5 {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 1rem;
	margin: 0;
}

h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 0.75rem;
	margin: 0;
}

#nav-bar ul li a {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 600;
	text-decoration: none;
	font-size: 1rem;
}

p {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	text-wrap: pretty;
}

/* Nav Bar */

#nav-bar {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	background-color: #f2f2f2;
	padding: 0 1.5rem;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}

#nav-bar,
#nav-bar ul li a {
	color: black;
}

#logo-website-name-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#logo {
	width: 20px;
	height: 20px;
	background-size: cover;
}

#nav-bar ul {
	display: flex;
	list-style: none;
	gap: 1.5rem;
}

#nav-bar ul li a {
	text-decoration: none;
	text-transform: uppercase;
}

#nav-bar ul li a:hover {
	color: dimgray;
}

/* Hero Section */
#hero {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 320px;
	padding: 1rem 1.5rem;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
		url("/images/blog/coding-nice-sky.png") lightgray 50% / cover no-repeat;
	background-size: cover;
	background-position: 50% 90%;
}

#hero #hero-date,
#hero #hero-preview,
#hero #hero-title {
	color: white;
}

/* Main Content */
.content {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#hero-image,
#blog-image {
	width: 100%;
	height: auto;
	border-radius: 0.25rem; /* 4px */
	margin-bottom: 1rem;
}

#hero-date,
#blog-date {
	font-size: 0.875rem; /* 14px */
	text-transform: uppercase;
	color: gray;
	margin: 0;
}

#hero-preview,
#blog-preview {
	font-size: 1rem;
	color: #505050;
	margin-top: 0;
}

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: #333;
	color: white;
	padding: 0.5rem 1.5rem;
	text-align: center;
	gap: 0.25rem;
	padding: 2rem;
}

footer p {
	margin: 0;
	font-size: 0.75rem; /* 12px */
	color: #d7d7d7;
}
