html,
body {
	margin: 0;
	padding: 0;
}

main {
	padding-top: 60px;
}

/* Fonts */
h1,
h2,
h3 {
	font-family: "Source Sans 3", sans-serif;
}

h1 {
	font-weight: 800;
	font-size: 2.5rem;
	line-height: 1.2;
	letter-spacing: -0.03em;
	margin: 0.5rem 0;
	text-wrap: balance;
}

h2 {
	font-weight: 800;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -0.03em;
	margin: 0.5rem 0;
	text-wrap: balance;
}

h3 {
	font-weight: 800;
	font-size: 1.5rem;
	letter-spacing: -0.02em;
	margin: 0.5rem 0 0.25rem 0;
}
h5 {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 1rem;
	margin: 0;
}

h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 0.75rem;
	margin: 0;
}

#nav-bar ul li a {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 600;
	text-decoration: none;
	font-size: 1rem;
}

p {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	text-wrap: pretty;
	font-size: 1rem;
	line-height: 1.5;
}

/* Nav Bar */

#nav-bar {
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	display: flex;
	background-color: #f2f2f2;
	padding: 0 1.5rem;
	align-items: center;
	justify-content: space-between;
	position: fixed;
}

#nav-bar,
#nav-bar ul li a {
	color: black;
}

#logo-website-name-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#logo {
	width: 20px;
	height: 20px;
	background-size: cover;
}

#nav-bar ul {
	display: flex;
	list-style: none;
	gap: 1.5rem;
}

#nav-bar ul li a {
	text-decoration: none;
	text-transform: uppercase;
}

#nav-bar ul li a:hover {
	color: dimgray;
}

/* Hero Section */
#hero {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 400px;
	padding: 1rem 1.5rem;
	background-size: cover;
	background-position: 50% 90%;
	color: white;
}

#hero-preview {
	font-size: 1rem;
	margin-top: 0;
}

#hero-date {
	font-size: 0.875rem; /* 14px */
	text-transform: uppercase;
	margin: 0;
}

/* Home Main Content */
a {
	text-decoration: none;
	color: inherit;
}

.blog-cards-container {
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

/* Blog Cards */

.blog-img {
	width: 100%;
	height: 280px;
	object-fit: cover;
	border-radius: 0.25rem; /* 4px */
	margin-bottom: 1rem;
}

.blog-date {
	font-size: 0.875rem; /* 14px */
	text-transform: uppercase;
	color: gray;
	margin: 0;
}

.blog-preview {
	font-size: 1rem;
	color: #505050;
	margin-top: 0;
}

/* About Page Main Content */
#about,
#about-content,
#blog-details,
#blog-content {
	display: flex;
	flex-direction: column;
	padding: 2rem 1.5rem;
	text-align: left;
}

#about-content,
#blog-content {
	margin-bottom: 2rem;
	gap: 1rem;
}

#avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 4px solid white;
	margin-bottom: 1rem;
}

.hero-img {
	width: 100%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
	border-radius: 0.25rem; /* 4px */
}

.recent-posts h5 {
	text-align: center;
}

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: #333;
	color: white;
	padding: 0.5rem 1.5rem;
	text-align: center;
	gap: 0.25rem;
	padding: 2rem;
}

footer p {
	margin: 0;
	font-size: 0.75rem; /* 12px */
	color: #d7d7d7;
}

/* Responsive Design */

@media (min-width: 768px) {
	#hero {
		min-height: 400px;
		max-height: 800px;
	}
	.blog-cards-container {
		grid-template-columns: 1fr 1fr;
		/* grid-template-rows: minmax(400px, auto); */
	}
	.blog-img {
		max-height: 320px;
	}

	.hero-img {
		height: 500px;
	}

	#about,
	#about-content,
	#blog-details,
	#blog-content {
		padding: 2rem 1.5rem;
	}

	#about {
		flex-direction: row;
		gap: 2rem;
		align-items: center;
	}
}

@media (min-width: 1024px) {
	#hero {
		min-height: 600px;
		max-height: 1000px;
	}

	.blog-cards-container {
		grid-template-columns: 1fr 1fr 1fr;
		/* grid-template-rows: minmax(600px, auto); */
	}

	.blog-img {
		max-height: 400px;
	}

	.hero-img {
		height: 600px;
	}
}
